.Main {
    background-color: white;
    font-size: 70px;
    padding: 30px;
    border-radius: 2%;
}

.main__text {
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.05em;
}

.main__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}